.alerta-fundo {
  background-color: rgba(0, 0, 0, 0.329);
  height: 100vh;
  width: 100vw;
  display: flex;

  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.alerta {
  height: 12rem;
  width: 20rem;
  border-radius: 15px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px #000000;
  transition: 0.3s;
}

.alerta-fechar {
  border-radius: 10px;
  border: none;
  padding: 5px 7px 5px 7px;
  color: rgb(0, 0, 0);
}

.alerta-fechar-button {
  width: 1.5rem;
  height: 1.5rem;
  /* Estilo e transição */
  color: white;
  background-color: white; /* Usando cor hexadecimal para melhor padronização */
  cursor: pointer; /* Corrigido para tornar o botão clicável */
  transition: 0.3s ease-in-out;
}

/* Efeito ao passar o mouse */
.alerta-fechar-button:hover {
  background-color: #c82333; /* Uma cor ligeiramente mais escura */
  transform: scale(1.1); /* Efeito de crescimento sutil */
}

.atention {
  display: flex;
  align-items: center;
  height: 20%;
  width: 100%;
}
