* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #f2f2f2;
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgba(189, 189, 189, 1) 100%
  );
}

.lado-esquerdo {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.busca {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.lado-direito {
  margin: 90px;
  gap: 16px;
  padding: 20px 0px 0px 20px;
}

#mouse {
  position: fixed;
  pointer-events: none;
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  background-color: rgb(160, 160, 160);
  transform: translate(-50%, -50%);
  filter: blur(3rem);
  z-index: -1;
}
