* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.titulo-cadastrados {
  padding-top: 1.4rem;
}

ul {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.container-cadastro {
  position: relative;

  max-height: auto;
  min-width: 500px;
  background-color: #333;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: #ffffff;
  overflow: visible;
}
.visitante {
  background-color: #ffd3da;
  width: 20vw;
}

::placeholder {
  padding-left: 10px;
}

.arrow {
  transition: transform 0.3s;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.tabela-lista-cadastrados {
  padding-right: 0.1rem;
  width: 90%;
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #333;
}

/**/
/* largura da barra */
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

/* a própria barra (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

/* quando passa o mouse na barra */
::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

.busca-lista-cadastro {
  width: 90%;
  padding: 8px 3px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.busca-lista-cadastro:focus {
  border-color: #268bff;
  box-shadow: 0 0 0 5px rgba(1, 90, 192, 0.2);
}
