* {
  margin: 0;
}

.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.lado-esquerdo {
  flex: 1;
  padding: 20px;
}

.busca {
  margin: 20px;
  width: 20vw;
  display: flex;
}

.lado-direito {
  gap: 16px;
  padding: 20px 0px 0px 20px;
}
