* {
  margin: 0;
}

.app-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.lado-esquerdo {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.busca {
  margin: 20px;

  display: flex;

  justify-content: center;
}

.lado-direito {
  margin: 90px;
  gap: 16px;
  padding: 20px 0px 0px 20px;
}

#mouse {
  position: fixed;
  pointer-events: none;
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  background-color: #7e7b7b;
  transform: translate(-50%, -50%);
  filter: blur(3rem);
  z-index: -1;
}
