.container-lista-presenca {
  background-color: #333;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-width: 550px;
  margin-right: 80px;
  margin-top: 32px;
  box-shadow: 0px 0px 3px black;
}

.titulo{
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 24px;
  padding-bottom: 8px;
  text-align: center;
}

.nenhum-visitante{
  color: #d3d3d3;
  font-style: oblique;
}

.lista-pessoas{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/*----------------- Conteiner com informações da pessoa ------------ */
.caixa-pessoa{
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 100px;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(29, 26, 26);
  border-radius: 8px;
  padding: 16px 20px;
}
.caixa-pessoa:hover {  
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/*----------------- Botao Registrar Saida----------------------- */
.botao-saida{
  background-color: #c72c2c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: backround-color 2s ease;
}
.botao-saida:hover {
  background-color: #630101;
}

/*----------------- Barra de Pesquisa----------------------- */
.campo-pesquisa{
  width: 100%;
  padding: 8px 3px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 20px;
  outline: none;
  transition: border-color 0.2s ease;
}