@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.AdicionarBtn1 {
  flex: 1;
  min-width: 200px;
  background-color: #333;
  border: 0px;
  border-radius: 10px;
  padding: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  color: aliceblue;

  position: relative;
  overflow: hidden;
}
.AdicionarBtn1:hover {
  transform: scale(1.06);
}

.ripple {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 600ms linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.caixa-resumo {
  flex: 2;
  gap: 16px;
  margin-top: 20px;
  margin-left: 90px;
}

.strongBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.boxAlert {
  background-color: aliceblue;
  height: auto;
  width: auto;
  border: 1px solid;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
}
.bottomAlert {
  background-color: rgb(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  color: aliceblue;
  background-color: #333;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.Close {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #322f41 1px;
  border-radius: 6px;
  background-color: #212025;
  cursor: pointer;
  border-top-right-radius: 10px;
}
.x {
  font-family: "Noto Sans", sans-serif;
  color: aliceblue;
  padding-left: 5px;
  padding-right: 5px;
}

p {
  padding: 0;
  margin: 0;
  padding: 5px;
}

input[type="time"] {
  font-family: "Noto Sans", sans-serif;
  color: white;
  background-color: #555555;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  border-top-left-radius: 10px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

input[type="time"]:hover {
  transform: scale(1.02);
}
input[type="date"] {
  font-family: "Noto Sans", sans-serif;
  color: white;
  background-color: #555555;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

input[type="date"]:hover {
  transform: scale(1.02);
}

.CPFInput {
  margin: 20px;
}
.SelectType {
  display: flex;
}

.SelectArea {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

#CpfLabel {
  font-family: "Noto Sans", sans-serif;
  margin-left: 10px;
}

h3 {
  margin-bottom: 10px;
}

.PhoneArea {
  margin-top: 20px;
}
.CabrasName {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}

.colun {
  display: flex;
  flex-direction: column;
}

#nome {
  width: 8vw;
  margin-right: 30px;
}

#sobrenome {
  margin-right: 20px;
}

#inputDoc {
  margin-right: 10px;
  width: 8vw;
}

.obs {
  font-family: "Noto Sans", sans-serif;
  width: 6rem;
}

.Observações {
  display: flex;
  width: 6rem;
  margin-left: 30px;
}

#Detalhes {
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 0;
  height: 10vh;
  width: 13vw;
}

.caixaObs {
  display: flex;
  flex-direction: column;
}

.enviar {
  cursor: pointer;
  border: none;
  background-color: #71c56a;
  border-radius: 10px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 4vh;
  width: 2vw;
}

.enviar:hover {
  transform: scale(1.05);
}

.imagemAdd {
  height: 20px;
  width: 20px;
}

.tadificil {
  display: flex;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 13vh;
  width: 7vw;
}

input {
  border-radius: 5px;
}

.SaidaInfo {
  display: flex;
  align-items: center;
  text-align: center;
  color: #f1614e;
  font-weight: bold;
}
.SaidaInfo::after,
.SaidaInfo::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid #555;
  margin: 0px 20px 0px;
}

p {
  font-family: "Noto Sans", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

#RegistrarSaida {
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;
  padding: 7px;
  border: none;
  border-radius: 10px;
  background-color: #f1614e;
  color: aliceblue;
  margin-bottom: 20px;
}
#RegistrarSaida:hover {
  transform: scale(1.05);
}

.hellYeah {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
}

label {
  font-family: "Noto Sans", sans-serif;
}
